@model okboba.Web.Models.QuestionIndexViewModel
@using okboba.Resources

<!-- Question box -->
<form class="question-form">

    <p>@Model.NextQuestions.First().Text</p>

    @{
        int index = 1;
        var question = Model.NextQuestions.First();

        foreach (var choiceText in question.Choices)
        {
            <div class="radio-custom">
                <input type="radio" name="ChoiceIndex" value="@index" id="r@(index)_@question.Id" />
                <label for="r@(index)_@question.Id">@choiceText</label>
            </div>

            index++;
        }
    }

    <p class="top-buffer-10">@i18n.Question_Prompt_Acceptable</p>

    @{
        index = 1;

        foreach (var choiceText in question.Choices)
        {
            <div class="checkbox-custom">
                <input type="checkbox" name="ChoiceAccept" value="@index" id="c@(index)_@question.Id" />
                <label for="c@(index)_@question.Id">@choiceText</label>
            </div>

            index++;
        }
    }

    <div class="checkbox-custom">
        <input type="checkbox" name="ChoiceIrrelevant" value="true" id="ChoiceIrrelevant@(question.Id)" />
        <label for="ChoiceIrrelevant@(question.Id)">@i18n.Question_Irrelevant</label>
    </div>

    <div class="question-importance-box">
        <p class="top-buffer-10">@i18n.Question_Prompt_Importance</p>

        <div class="question-importance-bars">
            <div class="inline-block">
                <div class="text-center">@i18n.Question_ALittleImportant</div>
                <div class="question-importance-bar" data-importance="1"></div>
            </div>
            <div class="inline-block">
                <div class="text-center">@i18n.Question_SomewhatImportant</div>
                <div class="question-importance-bar" data-importance="2"></div>
            </div>
            <div class="inline-block">
                <div class="text-center">@i18n.Question_VeryImportant</div>
                <div class="question-importance-bar" data-importance="3"></div>
            </div>
        </div>
    </div>
   
    <input type="hidden" name="ChoiceImportance" id="ChoiceImportance@(question.Id)" value="0" />
    <input type="hidden" name="QuestionId" value="@question.Id" />

    <div class="text-right top-buffer-20">
        <button class="btn btn-default question-skip">@i18n.Button_SkipQuestion</button>
        <button class="btn btn-primary question-submit" disabled>@i18n.Button_AnswerQuestion</button>
    </div>
</form>
