@using okboba.Resources
@*
    Format for the data model is as follows:
    {
        Id: question Id
        Text: question Text
        Choices: [Array of strings]
        isCancelable: boolean (true: show cancel button, false: show "Skip" button)
    }
*@
<script id="questionTemplate" type="text/x-jsrender">

    <form class="question-form">

        <p>{{:Text}}</p>

        {{for Choices}}
        <div class="radio-custom">
            <input type="radio" name="ChoiceIndex" id="r{{:#index + 1 + '_' + ~root.Id}}" value="{{:#index + 1}}" />
            <label for="r{{:#index + 1 + '_' + ~root.Id}}">{{:#data}}</label>
        </div>
        {{/for}}

        <p class="top-buffer-10">@i18n.Question_Prompt_Acceptable</p>

        {{for Choices}}
        <div class="checkbox-custom">
            <input type="checkbox" name="ChoiceAccept" value="{{:#index + 1}}" id="c{{:#index + 1 + '_' + ~root.Id}}" />
            <label for="c{{:#index + 1 + '_' + ~root.Id}}">{{:#data}}</label>
        </div>
        {{/for}}

        <div class="checkbox-custom">
            <input type="checkbox" name="ChoiceIrrelevant" value="true" id="ChoiceIrrelevant{{:Id}}" />
            <label for="ChoiceIrrelevant{{:Id}}">@i18n.Question_Irrelevant</label>
        </div>

        <div class="question-importance-box">
            <p class="top-buffer-10">@i18n.Question_Prompt_Importance</p>

            <div class="question-importance-bars">
                <div class="inline-block">
                    <div class="text-center">@i18n.Question_ALittleImportant</div>
                    <div class="question-importance-bar" data-importance="1"></div>
                </div>
                <div class="inline-block">
                    <div class="text-center">@i18n.Question_SomewhatImportant</div>
                    <div class="question-importance-bar" data-importance="2"></div>
                </div>
                <div class="inline-block">
                    <div class="text-center">@i18n.Question_VeryImportant</div>
                    <div class="question-importance-bar" data-importance="3"></div>
                </div>
            </div>
        </div>

        <input type="hidden" name="ChoiceImportance" value="0" />
        <input type="hidden" name="QuestionId" value="{{:Id}}" />

        <div class="text-right top-buffer-20">
            {{if isCancelable}}
            <button type="button" class="btn btn-default question-cancel">@i18n.Button_Cancel</button>
            {{else}}
            <button type="button" class="btn btn-default question-skip">@i18n.Button_SkipQuestion</button>
            {{/if}}
            <button type="button" class="btn btn-primary question-submit" disabled>@i18n.Button_AnswerQuestion</button>
        </div>
    </form>

</script>

@*
    Data Model: {
        questionText: string
        choices: [ { text: string
                     isAccept: bool 
                     isMyAnswer: bool }, ... ]
    }
*@
<script id="answerMeTemplate" type="text/x-jsrender">
    <div class="question-answered question-answered-me">
        <p>{{:questionText}}</p>
        <ul class="question-me-list">
            {{for choices}}
            <li class="{{:isAccept ? 'question-choice-green' : 'question-choice-strike'}} {{:isMyAnswer ? 'question-choice-check' : 'question-choice-bullet'}}">{{:text}}</li>
            {{/for}}
        </ul>
    </div>
</script>

@*
    Data Model: {
        questionText: string - text of the question
        avatarMeUrl: string
        avatarThemUrl: string
        myAnswer: string
        theirAnswer: string
        matchMe: boolean - true if their answer matches my acceptable
        matchThem: boolean - true if my answer matches their acceptable
    }
*@
<script id="answerOtherTemplate" type="text/x-jsrender">
    <div class="question-answered">
        <p>{{:questionText}}</p>

        <!-- Answer -->
        <div style="margin-bottom:5px;">
            <img src="{{:avatarThemUrl}}" class="question-avatar" />
            <span class="{{:matchMe ? 'question-choice-green' : 'question-choice-red'}}">{{:theirAnswer}}</span>
        </div>
        <!-- Comparison Answer -->
        <div>
            <img src="{{:avatarMeUrl}}" class="question-avatar" />
            <span class="{{:matchThem ? 'question-choice-green' : 'question-choice-red'}}">{{:myAnswer}}</span>
        </div>
    </div>
    
</script>