@model okboba.Web.Models.QuestionIndexViewModel
@using okboba.Resources
@using okboba.Web.Helpers
@using okboba.Entities
@using Newtonsoft.Json
@{
    ViewBag.Title = "Questions";
}

@Html.Action("ProfileHeader", "Profile", new { profileId = Model.ProfileId, isMe = Model.IsMe, section = @i18n.Nav_Questions })

<!--Named anchor for navigating directly to question box (from Navbar) -->
<a name="questionBox"></a>

@Html.Partial("~/Views/Photo/_UploadPhotoTemplate.cshtml")

@Html.Partial("_QuestionTemplate")
@Html.Partial("_AnswerTemplate")

<div class="row">
    <div class="col-md-6">
        <!-- Question Box -->
        @if (Model.NextQuestions.Count() > 0)
        {
            @Html.Partial("_QuestionBox", Model.NextQuestions.First());
        }
        else
        {
            <h1>You have answered all the questions!</h1>
        }

        <hr />

        <!-- Question list -->
        @foreach (var ques in Model.Questions)
        {
            <div class="question-answered question-answered-me">
                <p>@ques.Question.Text</p>
                <ul class="question-me-list">
                    @Html.ShowAnswersMe(ques.Answer, ques.Question.Choices)
                </ul>
                <button class="btn btn-default btn-sm" data-toggle="updateanswer" data-quesid="@ques.Question.Id">@i18n.Button_UpdateAnswer</button>
            </div>
         }

        @if (Model.Questions.Count == 0)
        {
            <div class="nothing-to-show">@i18n.Error_NothingHere</div>
        }
    </div>

    <!-- Filler -->
    <div class="col-md-2"></div>

    <!-- Question stats -->
    <div class="col-md-4">
        <div class="question-stats question-stats-me">
            <p>最高的匹配实现：</p>
            <div class="question-highest-match">@Model.HighestMatchPercent%</div>
            <p>
                您回答： <b>@Model.Questions.TotalItemCount</b> 问题<br />
                (如果你回答多问题，匹配更高)
            </p>
        </div>
    </div>

</div>

<!------ Pagination ----->
<div class="text-center">
    @Html.Partial("_Pagination")
</div>


@section Scripts {

    <script>

        $(function () {

            QuestionManager.initModule({
                answeredQuestions: @Html.JsonArray(Model.Questions),
                nextQuestions: @Html.JsonArray(Model.NextQuestions)
            });

            //messaging
            messaging.initModule();

            //photos
            PhotoManager.initModule();
        });
    </script>
}
