@model okboba.Web.Models.QuestionIndexViewModel
@using okboba.Resources
@using okboba.Web.Helpers
@using okboba.Entities
@using Newtonsoft.Json
@{
    ViewBag.Title = "Questions";
}

@Html.Action("ProfileHeader", "Profile", new { profileId = Model.ProfileId, isMe = Model.IsMe, section = @i18n.Nav_CompareQuestions })

<!--Named anchor for navigating directly to question box (from Navbar) -->
<a name="questionBox"></a>

@Html.Partial("_QuestionTemplate")
@Html.Partial("_AnswerTemplate")

<div class="row">
    <div class="col-md-6">
        
        <!-- Question list -->
        @foreach (var ques in Model.Questions)
        {

            <div class="question-answered">
                @{
                    Answer compareAnswer;
                    bool bothAnswered = Model.CompareQuestions.TryGetValue(ques.Question.Id, out compareAnswer);
                }
                @if (bothAnswered)
                {
                    <p>@ques.Question.Text</p>

                    //show both answers
                    <!-- Answer -->
                    <div style="margin-bottom:5px;">
                        @Html.Avatar(Model.Profile, "question-avatar", true)
                        @Html.ShowAnswer(ques.Answer, compareAnswer, ques.Question.Choices)
                    </div>
                    <!-- Comparison Answer -->
                    <div>
                        @Html.Avatar(Model.CompareProfile, "question-avatar", true)
                        @Html.ShowAnswer(compareAnswer, ques.Answer, ques.Question.Choices)
                    </div>
                }
                else
                {
                    //hide answer, and show "Answer" button
                    <div class="question-unanswered-wrapper">
                        <div class="question-unanswered-text">
                            @ques.Question.Text
                        </div>
                        <div class="question-unanswered-button">
                            <button type="button" class="btn btn-primary" data-toggle="answerother" data-quesid="@ques.Question.Id">Answer</button>
                        </div>
                    </div>
                }

            </div>
          }

        @if (Model.Questions.Count == 0)
        {
            <div class="nothing-to-show">@i18n.Error_NothingHere</div>
        }

    </div>

    <!-- Filler -->
    <div class="col-md-2"></div>

    <!-- Question stats -->
    <div class="col-md-4">
        <div class="question-stats">
            <p>You have answered <b>@Model.CompareQuestions.Count</b> of their <b>@Model.Questions.TotalItemCount</b> questions.</p>
            
            @Html.ProgressQuestions(Model.CompareQuestions.Count, Model.Questions.TotalItemCount)

            @Html.ProgressQuestions(Model.Questions.TotalItemCount, Model.Questions.TotalItemCount)

            <p><a href="~/question#questionBox">Answer More >></a></p>
            <p><a href="~/question">Submit Question Suggestion</a></p>
        </div>
    </div>

</div>

<!------ Pagination ----->
<div class="text-center">
    @Html.Partial("_Pagination")
</div>


@section Scripts {

    <script>

        $(function () {            
            //questions
            QuestionManager.initModule({
                avatarMeUrl: '@Html.AvatarUrl(Model.CompareProfile.GetFirstHeadshot(true), Model.CompareProfile.Gender, Model.CompareProfile.UserId)',
                avatarThemUrl: '@Html.AvatarUrl(Model.Profile.GetFirstHeadshot(true), Model.Profile.Gender, Model.Profile.UserId)',
                answeredQuestions: @Html.JsonArray(Model.Questions)
            });

            //messaging
            messaging.initModule();
        });
        
    </script>
}
