@model okboba.Web.Models.QuestionIndexViewModel
@using okboba.Resources
@{
    ViewBag.Title = "Questions";
}

@Html.Action("ProfileHeader", "Profile", new { profileId = Model.ProfileId, isMe = Model.IsMe, section = "Questions" })

@Html.Partial("~/Views/Photo/_PhotoUpload.cshtml")

<div class="row">
    <div class="col-md-6">

        <!-- Question Box -->
        @if (Model.IsMe)
        {
            if (Model.NextQuestions.Count() > 0)
            {
                @Html.Partial("_QuestionBox");
            }
            else
            {
                <p>You have answered all the questions!</p>
            }
        }

        <!-- Question list -->
        @foreach (var ques in Model.MyQuestions)
        {
            <hr />
            <div class="question-answered">
                <p>@ques.Question.Text</p>
                <ul>
                    @foreach (var choice in ques.Choices)
                    {
                        <li>@choice.Text</li>
                    }
                </ul>
                <p>@i18n.Question_Prompt_Acceptable</p>
                <ul>
                    @foreach (var choice in ques.Choices)
                    {
                        <li>@choice.Text</li>
                    }
                </ul>
            </div>
        }

    </div>

    <!-- Filler -->
    <div class="col-md-2"></div>

    <!-- Question stats -->
    <div class="col-md-4">
        This is a box where all the question stats go.
    </div>
</div>


@section Scripts {

    <script>
        $('.question-importance-bar').questionimportance();
    </script>
}
