@model okboba.Web.Models.ProfileDetailViewModel
@using okboba.Resources
@using okboba.Web.Helpers

<!-- Modal -->
<div class="modal fade" id="detailPersonalityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form class="modal-content form-horizontal" method="post" action="/profile/editdetail">
            <input type="hidden" name="section" value="@((int)OkbConstants.ProfileDetailSections.Personality)" />

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@i18n.Detail_Section_Personality</h4>
            </div>

            <div class="modal-body">

                <!--------------------- Personality ----------------------------->
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_SOCIABILITY" class="col-sm-3 control-label">@i18n.Detail_Label_Sociability:</label>
                    <div class="col-sm-4">
                        @Html.DetailDropdown(OkbConstants.DETAIL_SOCIABILITY, Model.GetOptions(OkbConstants.DETAIL_SOCIABILITY), Model.ProfileDetail.Sociability)
                    </div>
                </div>
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_HUMOUR" class="col-sm-3 control-label">@i18n.Detail_Label_Humour:</label>
                    <div class="col-sm-4">
                        @Html.DetailDropdown(OkbConstants.DETAIL_HUMOUR, Model.GetOptions(OkbConstants.DETAIL_HUMOUR), Model.ProfileDetail.Humour)
                    </div>
                </div>
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_TEMPER" class="col-sm-3 control-label">@i18n.Detail_Label_Temper:</label>
                    <div class="col-sm-4">
                        @Html.DetailDropdown(OkbConstants.DETAIL_TEMPER, Model.GetOptions(OkbConstants.DETAIL_TEMPER), Model.ProfileDetail.Temper)
                    </div>
                </div>
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_FEELINGS" class="col-sm-3 control-label">@i18n.Detail_Label_Feelings:</label>
                    <div class="col-sm-6">
                        @Html.DetailDropdown(OkbConstants.DETAIL_FEELINGS, Model.GetOptions(OkbConstants.DETAIL_FEELINGS), Model.ProfileDetail.Feelings)
                    </div>
                </div>
                
            </div> <!--End modal body-->

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@i18n.Button_Cancel</button>
                <button type="submit" class="btn btn-primary">@i18n.Button_Save</button>
            </div>

        </form>
    </div>
</div>


