@model okboba.Web.Models.ProfileDetailViewModel
@using okboba.Resources
@using okboba.Web.Helpers

<!-- Modal -->
<div class="modal fade" id="detailLifestyleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form class="modal-content form-horizontal" method="post" action="/profile/editdetail">
            <input type="hidden" name="section" value="@((int)OkbConstants.ProfileDetailSections.Lifestyle)" />

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@i18n.Detail_Section_Lifestyle</h4>
            </div>

            <div class="modal-body">

                <!--------------------- Lifestyle ----------------------------->
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_SMOKE" class="col-sm-3 control-label">@i18n.Detail_Label_Smoke:</label>
                    <div class="col-sm-4">
                        @Html.DetailDropdown(OkbConstants.DETAIL_SMOKE, Model.GetOptions(OkbConstants.DETAIL_SMOKE), Model.ProfileDetail.Smoke)
                    </div>
                </div>
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_DRINK" class="col-sm-3 control-label">@i18n.Detail_Label_Drink:</label>
                    <div class="col-sm-4">
                        @Html.DetailDropdown(OkbConstants.DETAIL_DRINK, Model.GetOptions(OkbConstants.DETAIL_DRINK), Model.ProfileDetail.Drink)
                    </div>
                </div>
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_EXERCISE" class="col-sm-3 control-label">@i18n.Detail_Label_Exercise:</label>
                    <div class="col-sm-4">
                        @Html.DetailDropdown(OkbConstants.DETAIL_EXERCISE, Model.GetOptions(OkbConstants.DETAIL_EXERCISE), Model.ProfileDetail.Exercise)
                    </div>
                </div>
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_EATING" class="col-sm-3 control-label">@i18n.Detail_Label_Eating:</label>
                    <div class="col-sm-4">
                        @Html.DetailDropdown(OkbConstants.DETAIL_EATING, Model.GetOptions(OkbConstants.DETAIL_EATING), Model.ProfileDetail.Eating)
                    </div>
                </div>
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_SHOPPING" class="col-sm-3 control-label">@i18n.Detail_Label_Shopping:</label>
                    <div class="col-sm-4">
                        @Html.DetailDropdown(OkbConstants.DETAIL_SHOPPING, Model.GetOptions(OkbConstants.DETAIL_SHOPPING), Model.ProfileDetail.Shopping)
                    </div>
                </div>
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_RELIGION" class="col-sm-3 control-label">@i18n.Detail_Label_Religion:</label>
                    <div class="col-sm-4">
                        @Html.DetailDropdown(OkbConstants.DETAIL_RELIGION, Model.GetOptions(OkbConstants.DETAIL_RELIGION), Model.ProfileDetail.Religion)
                    </div>
                </div>
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_SLEEPSCHEDULE" class="col-sm-3 control-label">@i18n.Detail_Label_SleepSchedule:</label>
                    <div class="col-sm-4">
                        @Html.DetailDropdown(OkbConstants.DETAIL_SLEEPSCHEDULE, Model.GetOptions(OkbConstants.DETAIL_SLEEPSCHEDULE), Model.ProfileDetail.SleepSchedule)
                    </div>
                </div>
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_SOCIALCIRCLE" class="col-sm-3 control-label">@i18n.Detail_Label_SocialCircle:</label>
                    <div class="col-sm-6">
                        @Html.DetailDropdown(OkbConstants.DETAIL_SOCIALCIRCLE, Model.GetOptions(OkbConstants.DETAIL_SOCIALCIRCLE), Model.ProfileDetail.SocialCircle)
                    </div>
                </div>
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_MOSTMONEY" class="col-sm-3 control-label">@i18n.Detail_Label_MostMoney:</label>
                    <div class="col-sm-4">
                        @Html.DetailDropdown(OkbConstants.DETAIL_MOSTMONEY, Model.GetOptions(OkbConstants.DETAIL_MOSTMONEY), Model.ProfileDetail.MostMoney)
                    </div>
                </div>
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_HOUSEWORK" class="col-sm-3 control-label">@i18n.Detail_Label_Housework:</label>
                    <div class="col-sm-4">
                        @Html.DetailDropdown(OkbConstants.DETAIL_HOUSEWORK, Model.GetOptions(OkbConstants.DETAIL_HOUSEWORK), Model.ProfileDetail.Housework)
                    </div>
                </div>
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_LOVEPETS" class="col-sm-3 control-label">@i18n.Detail_Label_LovePets:</label>
                    <div class="col-sm-4">
                        @Html.DetailDropdown(OkbConstants.DETAIL_LOVEPETS, Model.GetOptions(OkbConstants.DETAIL_LOVEPETS), Model.ProfileDetail.LovePets)
                    </div>
                </div>
                <div class="form-group">
                    <label for="@OkbConstants.DETAIL_HAVEPETS" class="col-sm-3 control-label">@i18n.Detail_Label_HavePets:</label>
                    <div class="col-sm-8">
                        @Html.DetailDropdown(OkbConstants.DETAIL_HAVEPETS, Model.GetOptions(OkbConstants.DETAIL_HAVEPETS), Model.ProfileDetail.HavePets)
                    </div>
                </div>
            </div> <!--End modal body-->

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@i18n.Button_Cancel</button>
                <button type="submit" class="btn btn-primary">@i18n.Button_Save</button>
            </div>

        </form>
    </div>
</div>


