@model okboba.Web.Models.ProfileDetailViewModel
@using okboba.Resources
@using okboba.Repository
@using okboba.Web.Helpers

@if (Model.isMe)
{
    Html.RenderPartial("_DetailBasicModal");
    Html.RenderPartial("_DetailLifestyleModal");
    Html.RenderPartial("_DetailJobModal");
    Html.RenderPartial("_DetailAppearanceModal");
    Html.RenderPartial("_DetailPersonalityModal");
}

@Html.Partial("_EditTextTemplate")

<!-- Profile Details -->
<div class="row">
    <div class="col-lg-8 col-md-8">
        <div class="profile-text-question">
            @i18n.Profile_Question1
        </div>
        <div class="profile-text">
            @Html.ProfileText(Model.ProfileText.Question1, "q1", Model.isMe)
            @Html.EditTextIcon("#q1", Model.isMe)
        </div>

        <div class="profile-text-question">@i18n.Profile_Question2</div>
        <div class="profile-text">
            @Html.ProfileText(Model.ProfileText.Question2, "q2", Model.isMe)
            @Html.EditTextIcon("#q2", Model.isMe)
        </div>

        <div class="profile-text-question">@i18n.Profile_Question3</div>
        <div class="profile-text">
            @Html.ProfileText(Model.ProfileText.Question3, "q3", Model.isMe)
            @Html.EditTextIcon("#q3", Model.isMe)
        </div>

        <div class="profile-text-question">@i18n.Profile_Question4</div>
        <div class="profile-text">
            @Html.ProfileText(Model.ProfileText.Question4, "q4", Model.isMe)
            @Html.EditTextIcon("#q4", Model.isMe)
        </div>

        <div class="profile-text-question">@i18n.Profile_Question5</div>
        <div class="profile-text">
            @Html.ProfileText(Model.ProfileText.Question5, "q5", Model.isMe)
            @Html.EditTextIcon("#q5", Model.isMe)
        </div>
    </div>

    @*<div class="col-lg-1 hidden-md"></div>*@

    <div class="col-lg-4 col-md-4">

        <!-------- Basic Information ---------->
        <div id="detailBasicSection" class="@(Model.isMe ? "profile-details-me" : "profile-details")">
            @if (Model.isMe)
            {
                <div class="profile-detail-editicon"><span class="glyphicon glyphicon-pencil"></span></div>
            }
            <div class="profile-detail-category">
                @i18n.Detail_Section_Basic
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_LookingFor <b>:</b>
                @Html.DetailValue(Model.GetOptionValue(OkbConstants.DETAIL_LOOKINGFOR, Model.ProfileDetail.LookingFor))
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Height:
                <div class="profile-detail-overlay">@(Model.ProfileDetail.Height == 0 ? "--" : Model.ProfileDetail.Height + " CM")</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Education <b>:</b>
                @Html.DetailValue(Model.GetOptionValue(OkbConstants.DETAIL_EDUCATION, Model.ProfileDetail.Education))
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_RelationshipStatus:
                @Html.DetailValue(Model.GetOptionValue(OkbConstants.DETAIL_RELATIONSHIPSTATUS, Model.ProfileDetail.RelationshipStatus))
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_HaveChildren:
                @Html.DetailValue(Model.GetOptionValue(OkbConstants.DETAIL_HAVECHILDREN, Model.ProfileDetail.HaveChildren))
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_WantChildren:
                @Html.DetailValue(Model.GetOptionValue(OkbConstants.DETAIL_WANTCHILDREN, Model.ProfileDetail.WantChildren))
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Nationality:
                @Html.DetailValue(Model.GetOptionValue(OkbConstants.DETAIL_NATIONALITY, Model.ProfileDetail.Nationality))
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_MonthlyIncome:
                @Html.DetailValue(Model.GetOptionValue(OkbConstants.DETAIL_MONTHLYINCOME, Model.ProfileDetail.MonthlyIncome))
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_LivingSituation:
                @Html.DetailValue(Model.GetOptionValue(OkbConstants.DETAIL_LIVINGSITUATION, Model.ProfileDetail.LivingSituation))
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_CarSituation:
                @*<span class="profile-detail">@Model.GetOptionValue(OkbConstants.DETAIL_CARSITUATION, Model.ProfileDetail.CarSituation)</span>*@
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_CARSITUATION, Model.ProfileDetail.CarSituation)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_EconomicConcept:
                <span class="profile-detail">@Model.GetOptionValue(OkbConstants.DETAIL_ECONOMICCONCEPT, Model.ProfileDetail.EconomicConcept)</span>
            </div>
        </div>

        <!-------- Lifestyle ---------->
        <div id="detailLifestyleSection" class="@(Model.isMe ? "profile-details-me" : "profile-details")">
            @if (Model.isMe)
            {
                <div class="profile-detail-editicon"><span class="glyphicon glyphicon-pencil"></span></div>
            }
            <div class="profile-detail-category">
                @i18n.Detail_Section_Lifestyle
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Smoke:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_SMOKE, Model.ProfileDetail.Smoke)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Drink:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_DRINK, Model.ProfileDetail.Drink)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Exercise:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_EXERCISE, Model.ProfileDetail.Exercise)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Eating:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_EATING, Model.ProfileDetail.Eating)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Shopping:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_SHOPPING, Model.ProfileDetail.Shopping)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Religion:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_RELIGION, Model.ProfileDetail.Religion)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_SleepSchedule:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_SLEEPSCHEDULE, Model.ProfileDetail.SleepSchedule)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_SocialCircle:
                <span class="profile-detail">@Model.GetOptionValue(OkbConstants.DETAIL_SOCIALCIRCLE, Model.ProfileDetail.SocialCircle)</span>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_MostMoney:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_MOSTMONEY, Model.ProfileDetail.MostMoney)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Housework:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_HOUSEWORK, Model.ProfileDetail.Housework)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_LovePets:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_LOVEPETS, Model.ProfileDetail.LovePets)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_HavePets:
                <span class="profile-detail">@Model.GetOptionValue(OkbConstants.DETAIL_HAVEPETS, Model.ProfileDetail.HavePets)</span>
            </div>
        </div>

        <!-------- Job ---------->
        <div id="detailJobSection" class="@(Model.isMe ? "profile-details-me" : "profile-details")">
            @if (Model.isMe)
            {
                <div class="profile-detail-editicon"><span class="glyphicon glyphicon-pencil"></span></div>
            }
            <div class="profile-detail-category">
                @i18n.Detail_Section_Job
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Job:
                @*<span class="profile-detail">@Model.GetOptionValue(OkbConstants.DETAIL_JOB, Model.ProfileDetail.Job)</span>*@
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_JOB, Model.ProfileDetail.Job)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Industry:
                <span class="profile-detail">@Model.GetOptionValue(OkbConstants.DETAIL_INDUSTRY, Model.ProfileDetail.Industry)</span>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_WorkHours:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_WORKHOURS, Model.ProfileDetail.WorkHours)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_CareerAndFamily:
                @*<span class="profile-detail">@Model.GetOptionValue(OkbConstants.DETAIL_CAREERANDFAMILY, Model.ProfileDetail.CareerAndFamily)</span>*@
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_CAREERANDFAMILY, Model.ProfileDetail.CareerAndFamily)</div>
            </div>
        </div>

        <!-------- Appearance ---------->
        <div id="detailAppearanceSection" class="@(Model.isMe ? "profile-details-me" : "profile-details")">
            @if (Model.isMe)
            {
                <div class="profile-detail-editicon"><span class="glyphicon glyphicon-pencil"></span></div>
            }
            <div class="profile-detail-category">
                @i18n.Detail_Section_Appearance
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_BodyType:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_BODYTYPE, Model.ProfileDetail.BodyType)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_FaceType:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_FACETYPE, Model.ProfileDetail.FaceType)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Eye:
                <div class="profile-detail-overlay">
                    @Model.GetOptionValue(OkbConstants.DETAIL_EYECOLOR, Model.ProfileDetail.EyeColor),
                    @Model.GetOptionValue(OkbConstants.DETAIL_EYESHAPE, Model.ProfileDetail.EyeShape)
                </div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Hair:
                <div class="profile-detail-overlay">
                    @Model.GetOptionValue(OkbConstants.DETAIL_HAIRCOLOR, Model.ProfileDetail.HairColor),
                    @Model.GetOptionValue(OkbConstants.DETAIL_HAIRTYPE, Model.ProfileDetail.HairType),
                    @Model.GetOptionValue(OkbConstants.DETAIL_HAIRLENGTH, Model.ProfileDetail.HairLength)
                </div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_SkinType:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_SKINTYPE, Model.ProfileDetail.SkinType)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Muscle:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_MUSCLE, Model.ProfileDetail.Muscle)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_HealthCondition:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_HEALTHCONDITION, Model.ProfileDetail.HealthCondition)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_DressStyle:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_DRESSSTYLE, Model.ProfileDetail.DressStyle)</div>
            </div>
        </div>

        <!-------- Personality ---------->
        <div id="detailPersonalitySection" class="@(Model.isMe ? "profile-details-me" : "profile-details")">
            @if (Model.isMe)
            {
                <div class="profile-detail-editicon"><span class="glyphicon glyphicon-pencil"></span></div>
            }
            <div class="profile-detail-category">
                @i18n.Detail_Section_Personality
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Sociability:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_SOCIABILITY, Model.ProfileDetail.Sociability)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Humour:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_HUMOUR, Model.ProfileDetail.Humour)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Temper:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_TEMPER, Model.ProfileDetail.Temper)</div>
            </div>
            <div class="profile-detail-row">
                @i18n.Detail_Label_Feelings:
                <div class="profile-detail-overlay">@Model.GetOptionValue(OkbConstants.DETAIL_FEELINGS, Model.ProfileDetail.Feelings)</div>
            </div>

        </div>
    </div>
</div>
