@using okboba.Resources

<!-- Profile Details -->
<div class="row top-buffer">
    <div class="col-md-9">
        <h3>@Localization.Profile_Question1</h3>
        <div class="profile-text" data-editinplace="q1">
            @Model.ProfileText.Question1
        </div>

        <h3>@Localization.Profile_Question2</h3>
        <div class="profile-text" data-editinplace="q2">
            @Model.ProfileText.Question2
        </div>

        <h3>@Localization.Profile_Question3</h3>
        <div class="profile-text" data-editinplace="q3">
            @Model.ProfileText.Question3
        </div>

        <h3>@Localization.Profile_Question4</h3>
        <div class="profile-text" data-editinplace="q4">
            @Model.ProfileText.Question4
        </div>

        <h3>@Localization.Profile_Question5</h3>
        <div class="profile-text" data-editinplace="q5">
            @Model.ProfileText.Question5
        </div>
    </div>

    <div class="col-md-3">
        <div class="profile-details">
            <!--- Dump out all the user info -->
            some details<br />
            some details<br />
            some details<br />
            some details<br />
            some details<br />
            some details<br />
            some details<br />
            some details<br />
            some details<br />
            some details<br />
        </div>
    </div>
</div>