@model okboba.Web.Models.ProfileHeaderViewModel
@using okboba.Web.Helpers
@using okboba.Resources

<!-- Row 1: Match Percent, Name, Message button -->
<div class="row">
    <!--User Details & Percentages -->
    <div class="col-sm-9 col-md-10">
        <div class="profile-header-match">@Model.Match.MatchPercent%</div>
        <div class="profile-header-match-label">@i18n.Common_Match</div>
        <div class="profile-header-friendenemy-container">
            <div class="profile-header-friend-container">
                <span class="profile-header-friend">@Model.Match.FriendPercent%</span>
                <div class="profile-header-friend-label">@i18n.Common_Friend</div>
            </div>
            <div>
                <span class="profile-header-enemy">@Model.Match.EnemyPercent%</span>
                <div class="profile-header-enemy-label">@i18n.Common_Enemy</div>
            </div>           
        </div>
        <div class="profile-header-info">
            @Model.Profile.Nickname, @Model.Profile.GetAge()@Html.Gender(Model.Profile.Gender)<br />
            @Model.Location
        </div>
    </div>

    <!-- Buttons -->
    <div class="col-sm-3 col-md-2">
        @if (!Model.IsMe)
        {
            <button class="btn btn-primary btn-block">Message User</button>
            <button class="btn btn-default btn-block"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Favorite User</button>
        }        
    </div>
</div>

<hr />

<!-- Row 2: Thumbnails - Show the first 4 -->
@{ var photos = Model.Profile.GetHeadshots(); }
@{ var userId = Model.IsMe ? "" : Model.Profile.UserId;}

@foreach (var photo in photos.Take(4))
{
    <div class="profile-header-photo">
        <a href="~/photo/@userId">@Html.Avatar(photo.Thumb, Model.Profile.Gender, Model.Profile.UserId, "profile-avatar")</a>        
    </div>
}
@if (photos.Count() < 4 && Model.IsMe)
{
    //Show Add photo as long as user has less than 4 photos
    <div class="profile-header-photo">
        <a href="~/photo/@userId">@Html.Avatar("", Model.Profile.Gender, Model.Profile.UserId, "profile-avatar")</a>
        @*<button class="btn btn-info profile-header-addphoto" data-toggle="modal" data-target="#photoUploadModal">@i18n.Photos_AddPhoto</button>*@
        <button class="btn btn-info profile-header-addphoto" data-toggle="photoupload">@i18n.Photo_AddPhoto</button>
    </div>
}
else if (photos.Count() == 0)
{
    //Show no avatar if user has no photos
    <div class="profile-header-photo">
        <a href="~/photo/@userId">@Html.Avatar("", Model.Profile.Gender, Model.Profile.UserId, "profile-avatar")</a>
    </div>
}

<!-- Row 3: Navigation tab -->
<ul class="nav nav-tabs">
    @Html.NavTab(Model.Section, "Profile", "/profile/" + userId)
    @Html.NavTab(Model.Section, "Photos", "/photo/" + userId)
    @Html.NavTab(Model.Section, "Questions", "/question/" + userId)
    @Html.NavTab(Model.Section, "Personality Matrix", "/matrix/" + userId)
</ul>
