@model okboba.Web.Models.ProfileDetailViewModel
@using okboba.Resources
@using okboba.Repository
@using okboba.Web.Helpers

@Html.Partial("_ProfileDetailModal")

@Html.Partial("_EditTextTemplate")

<!-- Profile Details -->
<div class="row">
    <div class="col-md-8">
        <div class="profile-text-question">
            @i18n.Profile_Question1
        </div>
        <div class="profile-text">
            @Html.ProfileText(Model.ProfileText.Question1, "q1", Model.isMe)
            @Html.EditTextIcon("#q1", Model.isMe)
        </div>

        <div class="profile-text-question">@i18n.Profile_Question2</div>
        <div class="profile-text">
            @Html.ProfileText(Model.ProfileText.Question2, "q2", Model.isMe)
            @Html.EditTextIcon("#q2", Model.isMe)
        </div>

        <div class="profile-text-question">@i18n.Profile_Question3</div>
        <div class="profile-text">
            @Html.ProfileText(Model.ProfileText.Question3, "q3", Model.isMe)
            @Html.EditTextIcon("#q3", Model.isMe)
        </div>

        <div class="profile-text-question">@i18n.Profile_Question4</div>
        <div class="profile-text">
            @Html.ProfileText(Model.ProfileText.Question4, "q4", Model.isMe)
            @Html.EditTextIcon("#q4", Model.isMe)
        </div>

        <div class="profile-text-question">@i18n.Profile_Question5</div>
        <div class="profile-text">
            @Html.ProfileText(Model.ProfileText.Question5, "q5", Model.isMe)
            @Html.EditTextIcon("#q5", Model.isMe)
        </div>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-3">

        <!-------- Basic Information ---------->
        <div class="@(Model.isMe ? "profile-details-me" : "profile-details")">
            @if (Model.isMe)
            {
                <div class="profile-detail-editicon"><span class="glyphicon glyphicon-pencil"></span></div>
            }
            <div class="profile-detail-category">
                @i18n.ProfileDetail_Section_Basic
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_LookingFor:
                @Model.GetOptionValue(OkbConstants.DETAIL_LOOKINGFOR, Model.ProfileDetail.LookingFor)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Height:

            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Education:
                @Model.GetOptionValue(OkbConstants.DETAIL_EDUCATION, Model.ProfileDetail.Education)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_RelationshipStatus:
                @Model.GetOptionValue(OkbConstants.DETAIL_RELATIONSHIPSTATUS, Model.ProfileDetail.RelationshipStatus)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_HaveChildren:
                @Model.GetOptionValue(OkbConstants.DETAIL_HAVECHILDREN, Model.ProfileDetail.HaveChildren)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_WantChildren:
                @Model.GetOptionValue(OkbConstants.DETAIL_WANTCHILDREN, Model.ProfileDetail.WantChildren)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Nationality:
                @Model.GetOptionValue(OkbConstants.DETAIL_NATIONALITY, Model.ProfileDetail.Nationality)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_MonthlyIncome:
                @Model.GetOptionValue(OkbConstants.DETAIL_MONTHLYINCOME, Model.ProfileDetail.MonthlyIncome)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_LivingSituation:
                @Model.GetOptionValue(OkbConstants.DETAIL_LIVINGSITUATION, Model.ProfileDetail.LivingSituation)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_CarSituation:
                @Model.GetOptionValue(OkbConstants.DETAIL_CARSITUATION, Model.ProfileDetail.CarSituation)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_EconomicConcept:
                @Model.GetOptionValue(OkbConstants.DETAIL_ECONOMICCONCEPT, Model.ProfileDetail.EconomicConcept)
            </div>
        </div>

        <!-------- Lifestyle ---------->
        <div class="@(Model.isMe ? "profile-details-me" : "profile-details")">
            @if (Model.isMe)
            {
                <div class="profile-detail-editicon"><span class="glyphicon glyphicon-pencil"></span></div>
            }
            <div class="profile-detail-category">
                @i18n.ProfileDetail_Section_Lifestyle
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Smoke:
                @Model.GetOptionValue(OkbConstants.DETAIL_SMOKE, Model.ProfileDetail.Smoke)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Drink:
                @Model.GetOptionValue(OkbConstants.DETAIL_DRINK, Model.ProfileDetail.Drink)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Exercise:
                @Model.GetOptionValue(OkbConstants.DETAIL_EXERCISE, Model.ProfileDetail.Exercise)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Eating:
                @Model.GetOptionValue(OkbConstants.DETAIL_EATING, Model.ProfileDetail.Eating)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Shopping:
                @Model.GetOptionValue(OkbConstants.DETAIL_SHOPPING, Model.ProfileDetail.Shopping)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Religion:
                @Model.GetOptionValue(OkbConstants.DETAIL_RELIGION, Model.ProfileDetail.Religion)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_SleepSchedule:
                @Model.GetOptionValue(OkbConstants.DETAIL_SLEEPSCHEDULE, Model.ProfileDetail.SleepSchedule)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_SocialCircle:
                @Model.GetOptionValue(OkbConstants.DETAIL_SOCIALCIRCLE, Model.ProfileDetail.SocialCircle)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_MostMoney:
                @Model.GetOptionValue(OkbConstants.DETAIL_MOSTMONEY, Model.ProfileDetail.MostMoney)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Housework:
                @Model.GetOptionValue(OkbConstants.DETAIL_HOUSEWORK, Model.ProfileDetail.Housework)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_LovePets:
                @Model.GetOptionValue(OkbConstants.DETAIL_LOVEPETS, Model.ProfileDetail.LovePets)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_HavePets:
                @Model.GetOptionValue(OkbConstants.DETAIL_HAVEPETS, Model.ProfileDetail.HavePets)
            </div>
        </div>

        <!-------- Job ---------->
        <div class="@(Model.isMe ? "profile-details-me" : "profile-details")">
            @if (Model.isMe)
            {
                <div class="profile-detail-editicon"><span class="glyphicon glyphicon-pencil"></span></div>
            }
            <div class="profile-detail-category">
                @i18n.ProfileDetail_Section_Job
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Job:
                @Model.GetOptionValue(OkbConstants.DETAIL_JOB, Model.ProfileDetail.Job)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Industry:
                @Model.GetOptionValue(OkbConstants.DETAIL_INDUSTRY, Model.ProfileDetail.Industry)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_WorkHours:
                @Model.GetOptionValue(OkbConstants.DETAIL_WORKHOURS, Model.ProfileDetail.WorkHours)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_CareerAndFamily:
                @Model.GetOptionValue(OkbConstants.DETAIL_CAREERANDFAMILY, Model.ProfileDetail.CareerAndFamily)
            </div>
        </div>

        <!-------- Appearance ---------->
        <div class="@(Model.isMe ? "profile-details-me" : "profile-details")">
            @if (Model.isMe)
            {
                <div class="profile-detail-editicon"><span class="glyphicon glyphicon-pencil"></span></div>
            }
            <div class="profile-detail-category">
                @i18n.ProfileDetail_Section_Appearance
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_BodyType:
                @Model.GetOptionValue(OkbConstants.DETAIL_BODYTYPE, Model.ProfileDetail.BodyType)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_FaceType:
                @Model.GetOptionValue(OkbConstants.DETAIL_FACETYPE, Model.ProfileDetail.FaceType)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Eye:
                @Model.GetOptionValue(OkbConstants.DETAIL_EYECOLOR, Model.ProfileDetail.EyeColor),
                @Model.GetOptionValue(OkbConstants.DETAIL_EYESHAPE, Model.ProfileDetail.EyeShape)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Hair:
                @Model.GetOptionValue(OkbConstants.DETAIL_HAIRCOLOR, Model.ProfileDetail.HairColor),
                @Model.GetOptionValue(OkbConstants.DETAIL_HAIRTYPE, Model.ProfileDetail.HairType),
                @Model.GetOptionValue(OkbConstants.DETAIL_HAIRLENGTH, Model.ProfileDetail.HairLength)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_SkinType:
                @Model.GetOptionValue(OkbConstants.DETAIL_SKINTYPE, Model.ProfileDetail.SkinType)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Muscle:
                @Model.GetOptionValue(OkbConstants.DETAIL_MUSCLE, Model.ProfileDetail.Muscle)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_HealthCondition:
                @Model.GetOptionValue(OkbConstants.DETAIL_HEALTHCONDITION, Model.ProfileDetail.HealthCondition)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_DressStyle:
                @Model.GetOptionValue(OkbConstants.DETAIL_DRESSSTYLE, Model.ProfileDetail.DressStyle)
            </div>
        </div>

        <!-------- Personality ---------->
        <div class="@(Model.isMe ? "profile-details-me" : "profile-details")">
            @if (Model.isMe)
            {
                <div class="profile-detail-editicon"><span class="glyphicon glyphicon-pencil"></span></div>
            }
            <div class="profile-detail-category">
                @i18n.ProfileDetail_Section_Personality
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Sociability:
                @Model.GetOptionValue(OkbConstants.DETAIL_SOCIABILITY, Model.ProfileDetail.Sociability)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Humour:
                @Model.GetOptionValue(OkbConstants.DETAIL_HUMOUR, Model.ProfileDetail.Humour)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Temper:
                @Model.GetOptionValue(OkbConstants.DETAIL_TEMPER, Model.ProfileDetail.Temper)
            </div>
            <div class="profile-detail-row">
                @i18n.ProfileDetail_Feelings:
                @Model.GetOptionValue(OkbConstants.DETAIL_FEELINGS, Model.ProfileDetail.Feelings)
            </div>

        </div>
    </div>
</div>

