@{
    ViewBag.Title = "Matches";
}

@model okboba.Web.Models.MatchesViewModel
@using okboba.Web.Helpers
@using Newtonsoft.Json
@using okboba.Resources

<div id="matches-container" class="matches-container">
    <div id="p1">
        @{int count = 0; }
        @foreach (var m in Model.Matches)
        {
            <div class="match-result">
                <a href="~/profile/@m.UserId">@Html.Avatar(m.Photo, m.Gender, m.UserId, "match-avatar")</a>
                <div class="match-info-wrapper">
                    <p>@m.Nickname</p>
                    <p>@m.Age &middot; @m.Location</p>
                    <p>@m.MatchPercent% @i18n.Common_Match | @m.EnemyPercent% @i18n.Common_Enemy</p>
                </div>
            </div>
            count++;
        }
    </div>
</div>

@Html.Partial("_MatchesTemplate")

@section Scripts {
    
    <script>
        $(function myfunction() {
            //document ready
            $('#matches-container').matchscroller( {
                storageUrl: '@Model.StorageUrl',
                matchUrl: '@Model.MatchApiUrl' + '/api/matches',
                searchCriteria: @Html.Raw(JsonConvert.SerializeObject(Model.MatchCriteria))
            });
        });        
            
    </script>
}