@{
    ViewBag.Title = "Matches";
}

@model okboba.Web.Models.MatchesViewModel
@using okboba.Web.Helpers
@using Newtonsoft.Json
@using okboba.Resources

<div id="matches-container" class="matches-container">
    <div id="p1">
        @{int count = 0; }
        @foreach (var m in Model.Matches)
        {
            <div class="match-result">
                <a href="~/profile/@m.UserId">@Html.Avatar(m.Photo, m.Gender, m.UserId, m.Nickname, "match-avatar")</a>
                <div class="match-info-wrapper">
                    <div class="match-info-name">@m.Nickname</div>
                    <div class="match-info-row2">@m.Age &#x2022; @m.Location</div>
                    <div class="match-info-score">
                        <div class="match-info-score-match">
                            <div>@m.MatchPercent%</div>
                            <div class="match-info-score-smaller">@i18n.Match_Match</div>
                        </div>
                        <div class="match-info-score-enemy">
                            <div>@m.EnemyPercent%</div>
                            <div class="match-info-score-smaller">@i18n.Match_Enemy</div>
                        </div>
                    </div>
                </div>
            </div>
            count++;
        }
    </div>
</div>

@Html.Partial("_MatchesTemplate")

@section Scripts {
    
    <script>
        $(function myfunction() {
            //document ready
            $('#matches-container').matchscroller( {
                storageUrl: '@Model.StorageUrl',
                matchUrl: '/matches/get',
                searchCriteria: @Html.Raw(JsonConvert.SerializeObject(Model.MatchCriteria))
            });
        });        
            
    </script>
}