@model IEnumerable<okboba.Repository.Models.ConversationModel>
@using okboba.Web.Helpers
@using okboba.Resources

<div class="row">
    <div class="col-md-7">
        <!-- List of messages -->
        @foreach (var conv in Model)
        {
            bool replied = conv.LastMessage.From != conv.OtherProfile.Id;

            <div class="conv-row" data-link="/messages/conversation/@conv.LastMessage.ConversationId">
                <div class="conv-row-1">
                    @if (!conv.Map.HasBeenRead)
                    {
                        <div class="conv-circle"></div>
                    }
                    else if (replied)
                    {
                        <span class="glyphicon glyphicon-share-alt"></span>
                    }
                </div>
                <div class="conv-row-2">
                    @Html.Avatar(conv.OtherProfile.GetFirstHeadshot(true), conv.OtherProfile.Gender, conv.OtherProfile.UserId, "conv-avatar")
                </div>
                <div class="conv-row-3">
                    <div class="conv-name">@conv.OtherProfile.Nickname</div>
                    <div class="conv-blurb truncate">@Html.Raw(conv.LastMessage.MessageText)</div>
                </div>
                <div class="conv-row-4">
                    <div class="conv-time">@FriendlyTime.Format(conv.LastMessage.Timestamp)</div>
                    <div class="conv-delete-icon" data-toggle="deleteconversation" data-id="@conv.LastMessage.ConversationId" data-name="@conv.OtherProfile.Nickname"><span class="glyphicon glyphicon-trash"></span></div>
                </div>
                @*<a href="~/messages/conversation/@conv.LastMessage.ConversationId" class="div-link"></a>*@
            </div>
        }
    </div>
</div>
