@using okboba.Resources

<div class="modal fade" tabindex="-1" role="dialog" id="loginModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@i18n.Common_Login</h4>
            </div>
            <div class="modal-body">
                <form id="loginForm">
                    <div class="form-group">
                        <input type="email" class="form-control" id="LoginEmail" name="Email" placeholder="@i18n.Login_YourEmail">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="LoginPassword" name="Password" placeholder="@i18n.Login_YourPasswod">
                    </div>
                    <div class="form-group">
                        <a href="~/account/forgotpassword">@i18n.Login_ForgotPassword</a>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block ladda-button login-button" data-style="expand-right"><span class="ladda-label">@i18n.Common_Login</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
