@model okboba.Web.Models.RegisterViewModel
@using okboba.Resources

<!-- Regisration Form: Step 2 -->
<div class="row register-form" id="register-step-2" style="display: none;">
    <div class="col-md-5 text-right">
        @*<img src="~/Content/images/dialog_box.png" alt="Alternate Text" />*@
        <div class="register-dialog-box">
            <img src="~/Content/images/chat-curve-register.png" alt="" class="chat-curve-register" />
            Hi! Just fill in a few fields to get started!
        </div>
        <img src="~/Content/images/cartoon_lady.png" class="register-lady" alt="Cartoon Lady" />
        @Html.ValidationSummary()
    </div>
    <div class="col-md-5">
        <span class="h3">登记.</span>
        <hr />
        <div class="form-horizontal">

            <!-- Email -->
            <div class="form-group">
                <label for="Email" class="col-sm-3 control-label">@i18n.Account_Email:</label>
                <div class="col-sm-9">
                    @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                    <input type="email" name="Email" value="" class="form-control" required />
                </div>
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="Password" class="col-sm-3 control-label">@i18n.Account_Password:</label>
                <div class="col-sm-9">
                    @*@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                    <input type="password" name="Password" value="" class="form-control" required />
                </div>
            </div>

            <!-- Nickname -->
            <div class="form-group">
                <label for="Nickname" class="col-sm-3 control-label">@i18n.Account_Nickname:</label>
                <div class="col-sm-9">
                    @*@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })*@
                    <input type="text" name="Nickname" value="" class="form-control" required />
                </div>
            </div>

            <!-- Birthdate -->
            <div class="form-group">
                <label for="BirthdateText" class="col-sm-3 control-label">@i18n.Account_Birthdate:</label>
                <div class="col-sm-9">
                    <input type="text" name="BirthdateText" value="" class="form-control" id="BirthdateText" required readonly />
                    <input type="hidden" name="Birthdate" value="" id="Birthdate" />
                </div>
            </div>

            <!-- City -->
            <div class="form-group">
                <label for="locationText" class="col-sm-3 control-label">@i18n.Account_Location:</label>
                <div class="col-sm-9">
                    <input id="locationText" type="text" name="locationText" value="" class="form-control" required readonly />
                    <input type="hidden" name="locationId1" value="" id="locationId1" />
                    <input type="hidden" name="locationId2" value="" id="locationId2" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary btn-block btn-lg ladda-button"><span class="ladda-label">@i18n.Button_Join</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
