@model okboba.Web.Models.RegisterViewModel
@using okboba.Resources
@{
    ViewBag.Title = "OkBoba - The Premier Dating Site for Smart Singles";
}

@section registrationform {

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { }))
    {
        <!-- Regisration Form: Step 1 -->
        <div id="register-step-1" class="row">
            <div class="col-md-12">
                <center>
                    <img src="~/Content/images/Logo/okboba-logo-lg-2.png" alt="Alternate Text" style="opacity:0.8;" />
                    <div class="form-inline" style="margin-top: 30px;">
                        <div class="form-group" style="margin-right: 20px;">
                            <label for="Gender" class="">我是： </label>
                            <select class="form-control input-lg" name="Gender" style="width: 200px;">
                                <option value="2">女</option>
                                <option value="1">男</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-right: 20px;">
                            <label for="Birthdate" class="">生日：</label>
                            @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control input-lg" })
                                @*@Html.ValidationMessageFor(m => m.Birthdate, "", new { @class = "text-danger" })*@
                            @*<input name="Birthdate" id="Birthdate" class="form-control input-lg" />*@
                        </div>
                        <button class="btn btn-lg btn-primary" id="NextButton">@i18n.Common_Submit >></button>
                    </div>
                </center>
            </div> <!-- End column -->
        </div>

            <!-- Regisration Form: Step 2 -->
        <div class="row" id="register-step-2" style="display: none;">
            <div class="col-md-4 col-md-offset-1">
                <p>只需填写几个字段上手。或者用你最喜欢的社交网络。</p>
            </div>
            <div class="col-md-5">
                <span class="h3">登记.</span>
                <hr />
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="Email" class="col-sm-3 control-label">电子邮件</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            @*<input type="text" name="Email" value=" " class="form-control" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Password" class="col-sm-3 control-label">密码</label>
                        <div class="col-sm-9">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            @*<input type="text" name="Password" value=" " class="form-control" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-sm-3 control-label">名字</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            @*<input type="text" name="Name" value=" " class="form-control" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Location" class="col-sm-3 control-label">城市</label>
                        <div class="col-sm-9">
                            <input id="locationinput" type="text" name="name" value=" " class="form-control"/>
                            <input type="hidden" name="locationId1" value="" id="locationId1" />
                            <input type="hidden" name="locationId2" value="" id="locationId2"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">加入!</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    }
} <!-- End registration form section -->



<!-- Marketing section -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <center><h2>一个约会网站，更聪明。</h2></center>
        </div>
    </div>
    <div class="row top-buffer-50">
        <div class="col-md-4">
            <img src="~/Content/Images/girl-studying-math.jpg" alt="Alternate Text" class="pull-left" style="padding-right: 10px;"/>
            一个约会网站，让您匹配基础上的问题你回答。您可以通过回答问题设计自己的匹配算法。随着数百个问题的许多议题回答，我们将能够排名潜在的日期，并显示您的最佳匹配。
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/head-scratch.png" alt="Alternate Text" class="pull-left" style="padding-right: 15px;"/>
            基于数百对夫妻的心理学研究。当你回答不够的问题，我们可以构建基于十二人格特质是影响婚姻的一个peronality轮廓。您也可以与别人比较你的答案，看看其他人怎么回答！
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/nomoney.png" alt="Alternate Text"  class="pull-left" style="padding-right: 10px;"/>
            自由！您没有订阅或支付任何费用，以寻找和消息相匹配。
        </div>
    </div>
</div>


@section Scripts {

    <script>
        $('#NextButton').click(function (e) {
            e.preventDefault();

            //Validate the Birthdate field
            if (!$('#Birthdate').valid()) {
                return;
            }

            $('#register-step-1').fadeOut('fast', function (e) {
                $('#register-step-2').fadeIn('fast');
            });
        });

        $('#Birthdate').datepicker({
            //endDate: "2000/01/01",
            startView: 2,
            language: "zh-CN",
            orientation: "bottom auto",
            autoclose: true
        });

        //Setup the location picker
        var provinces = @Html.Raw(ViewBag.JsonProvinces);

        $('#locationinput').locationpicker(provinces, "#locationId1", "#locationId2");
    </script>
}
