@model IEnumerable<okboba.Repository.Models.ActivityModel>
@using okboba.Web.Helpers
@using okboba.Resources


@foreach (var activity in Model)
{
    var photo = activity.Profile.GetFirstHeadshot(true);

    if (activity.Activity.CategoryId == (int)OkbConstants.ActivityCategories.Joined)
    {
        //Joined activity
        <div class="activity-feed-row">
            <div class="activity-feed-left">
                @Html.Avatar(photo, activity.Profile.Gender, activity.Profile.UserId, "activity-avatar")
            </div>
            <div class="activity-feed-content">
                <p class="activity-summary">@activity.Profile.Nickname @i18n.Feed_Joined</p>
            </div>
            <a href="/profile/@activity.Profile.UserId" class="div-link"></a>
        </div>
    }
    else if (activity.Activity.CategoryId == (int)OkbConstants.ActivityCategories.EditedProfileText)
    {
        //Edited profile text
        <div class="activity-feed-row">
            <div class="activity-feed-left">
                @Html.Avatar(photo, activity.Profile.Gender, activity.Profile.UserId, "activity-avatar")
            </div>
            <div class="activity-feed-content">
                <p class="activity-summary">@activity.Profile.Nickname @i18n.Feed_EditedProfileText</p>
                <div class="activity-profiletext">@activity.Activity.Field1</div>
            </div>
            <a href="/profile/@activity.Profile.UserId" class="div-link"></a>
        </div>
    }
    else if (activity.Activity.CategoryId == (int)OkbConstants.ActivityCategories.UploadedPhoto)
    {
        //Uploaded photo
        <div class="activity-feed-row">
            <div class="activity-feed-left">
                @Html.Avatar(photo, activity.Profile.Gender, activity.Profile.UserId, "activity-avatar")
            </div>
            <div class="activity-feed-content">
                <p class="activity-summary">@activity.Profile.Nickname @i18n.Feed_UploadedPhoto</p>
                <img src="@Html.PhotoUrl(activity.Activity.Field1, activity.Profile.UserId)" alt="@activity.Profile.Nickname" class="activity-thumbnail" />
            </div>
            <a href="/photo/@activity.Profile.UserId" class="div-link"></a>
        </div>
    }
    else if (activity.Activity.CategoryId == (int)OkbConstants.ActivityCategories.AnsweredQuestion)
    {
        //answered question
        <div class="activity-feed-row">
            <div class="activity-feed-left">
                @Html.Avatar(photo, activity.Profile.Gender, activity.Profile.UserId, "activity-avatar")
            </div>
            <div class="activity-feed-content">
                <p class="activity-summary">@activity.Profile.Nickname @i18n.Feed_AnsweredQuestion</p>
                <div class="activity-question">
                    @activity.Activity.Field1
                    <ul>
                        <li>@activity.Activity.Field2</li>
                    </ul>
                </div>
            </div>
            <a href="/question/@activity.Profile.UserId" class="div-link"></a>
        </div>
    }

}