@model IList<okboba.Repository.Models.MatchModel>
@using okboba.Web.Helpers
@using okboba.Resources

<div id="carousel-matches" class="carousel slide" data-ride="carousel" data-interval="0">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-matches" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-matches" data-slide-to="1"></li>
        <li data-target="#carousel-matches" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @for (int i = 0; i < 3; i++)
        {
            <div class="item @(i==0 ? "active" : "")">
                @*<div class="row-fluid">*@
                    @for (int j = i * 4; j < Model.Count && j < (i * 4) + 4; j++)
                    {
                        var m = Model[j];
                        <div class="carousel-match-card-wrapper">
                            <div class="carousel-match-card">
                                @Html.Avatar(m.Photo, m.Gender, m.UserId, m.Nickname, "carousel-match-avatar")
                                <div class="carousel-info-wrapper">
                                    <div class="carousel-info-percent carousel-info-match">@m.MatchPercent%</div>
                                    <div class="carousel-info-match">@i18n.Match_Match</div>
                                    <hr />
                                    <div class="carousel-info-percent carousel-info-enemy">@m.EnemyPercent%</div>
                                    <div class="carousel-info-enemy">@i18n.Match_Enemy</div>
                                </div>
                                <div class="carousel-info-name">@m.Nickname</div>
                                <div class="carousel-info-details">@m.Age &#x2022; @m.Location</div>
                                <a href="/profile/@m.UserId" class="div-link"></a>
                            </div>
                        </div>
                    }
                @*</div>*@
            </div>
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-matches" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-matches" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
