@using okboba.Resources
@using okboba.Web.Helpers
@model IList<okboba.Repository.Models.QuestionModel>

@{
    ViewBag.Title = "Home Page";
}

<!-- Recommended Matches Carousel -->
<div class="section-header">@i18n.Section_RecommendeMatches</div>

@Html.Action("RecommendedMatches")

<div class="row"> 
    <div class="col-md-7" style="z-index: 1"> <!--set zindex to prevent content from disappearing when carsouel is activated -->

        <!-- Activity Feed -->
        <div class="section-header">@i18n.Section_ActivityFeed</div>
        @Html.Action("ActivityFeed")

    </div>

    <div class="col-md-1"></div>

    <div class="col-md-4">

        <!-- Active Users -->
        <div class="section-header">@i18n.Section_ActiveUsers</div>
        @Html.Action("ActiveUsers")

        <!-- Question Box -->
        <div class="section-header">@i18n.Section_MatchQuestions</div>
        @if (Model.Count > 0)
        {
            Html.RenderPartial("~/Views/Question/_QuestionBox.cshtml", Model.First());
        }        

    </div>
</div>

@section Scripts {

    @Html.Partial("~/Views/Question/_QuestionTemplate.cshtml")

    <script>
        $(function () {
            QuestionManager.initModule({
                nextQuestions: @Html.JsonArray(Model)
            });
        });
    </script>
}