<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OkBoba.com - @ViewBag.Title</title>
    @Styles.Render("~/content/css")
</head>
<body class="body-anon">
    
    @Html.Partial("_Navbar")

    <div class="container container-anon">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/js/vendor")
    @Scripts.Render("~/bundles/js/okboba")

    @RenderSection("scripts", required: false)
</body>
</html>
