@using okboba.Resources;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datepickercss")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        @@media (max-width: 800px) {
            .body-splash {
                background-image: none;
            }
            .splash-buffer {
                display: none;
            }
            .splash-container {
                position: relative;
                background-color: #FCE4EC;
            }
            .splash-container .container {
                padding-top: 0;
            }
        }
    </style>
</head>

<body class="body-splash">

    <div class="splash-buffer">
    </div>

    <div class="splash-container">

        <!-- Navbar -->
        <div class="splash-navbar">
            <a href="/account/login" class="btn btn-default">@Localization.Common_Login</a>
        </div>

        <!-- Registration form -->
        <div class="container">
            @RenderSection("registrationform", required: true);
        </div>

    </div>

    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datepicker")
    @RenderSection("scripts", required: false)

    <footer style="padding-top: 100px;">
        <span class="text-info">&copy; @DateTime.Now.Year - Okboba.com</span>
    </footer>

</body>
</html>
