<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css/all")
</head>
<body class="body-anon">
    <nav class="navbar">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Account/Login" class="btn btn-default">登录</a></li>
            </ul>
        </div>
    </nav>

    <div class="container container-anon">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/js/vendor")
    @Scripts.Render("~/bundles/js/okboba")

    @RenderSection("scripts", required: false)
</body>
</html>
