<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OkBoba Dating</title>
    @Styles.Render("~/bundles/css/all")
</head>

<body class="body-auth">

    @Html.Partial("_ChatSlider")

    @Html.Partial("_Navbar")

    <div class="container container-auth">

        @RenderBody()
        
    </div>

    <footer>
        <span class="text-info">&copy; @DateTime.Now.Year - Okboba.com</span>
    </footer>

    @Scripts.Render("~/bundles/js/vendor")
    @Scripts.Render("~/bundles/js/okboba")
    @RenderSection("scripts", required: false)
</body>
</html>
