@using okboba.Resources;
@using okboba.Web.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/css/all")

    <style>
        @@media (max-width: 800px) {
            .body-splash {
                background-image: none;
            }
            .splash-buffer {
                display: none;
            }
            .splash-container {
                position: relative;
                background-color: #FCE4EC;
            }
            .splash-container .container {
                padding-top: 0;
            }
        }
    </style>
</head>

<body class="body-splash">

    <!-- Matches the size of the background image -->
    <div class="splash-buffer"></div>

    <div class="splash-container">

        <!-- Login Button Navbar -->
        <div class="splash-navbar">
            <div class="language-chooser-container">
                @Html.ChooseLanguage("zh-CN","中文") |
                @Html.ChooseLanguage("en", "English")
                @*<a href="/language/set?culture=zh-CN">中文</a> |
                <a href="/language/set?culture=en">English</a>*@
            </div>            
            <button class="btn btn-primary" data-toggle="modal" data-target="#loginModal">@i18n.Button_Login</button>
        </div>

        <!-- Registration form -->
        <div class="container">
            @RenderBody()
        </div>

    </div>

    @Html.Partial("_Login")

    @Html.Partial("_Marketing")

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/js/vendor")
    @Scripts.Render("~/bundles/js/okboba")
    @RenderSection("scripts", required: false)

    <script>       
        $(function () {
            //document ready
            $('#loginModal').login({
                loginErrMsg: '@i18n.Error_GenericLoginError'
            });
        });
    </script>

</body>
</html>
