@model okboba.Web.Models.ProfileHeaderViewModel
@using okboba.Web.Helpers

<!-- Row 1: Match Percent, Name, Message button -->
<div class="row">

    <!--User Details & Percentages -->
    <div class="col-sm-9 col-md-10">
        @Model.Match.MatchPercent% Match, @Model.Match.FriendPercent% Friend, @Model.Match.EnemyPercent% Enemy,
        @Model.Profile.Name,
    </div>

    <!-- Buttons -->
    <div class="col-sm-3 col-md-2">
        <button class="btn btn-primary btn-block">Message User</button>
        <button class="btn btn-default btn-block"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Favorite User</button>
    </div>
</div>

<hr />

<!-- Row 2: Thumbnails - Show the first 4 -->
<img src="@Html.Avatar(Model.Profile)" alt="Profile Photo" class="profile-header-photo" />

@{ var photos = Model.Profile.GetPhotos(); }
@for (int i = 1; i < photos.Length && i < 4; i++)
{
    <img src="@Html.Photo(photos[i], Model.Profile.Gender)" alt="Profile Photo" class="profile-header-photo" />
}

<!-- Row 3: Navigation tab -->

@{ 
    var profileActive = "";
    var photoActive = "";
    var questionActive = "";
}

@if(ViewBag.Section == "profile")
{
    profileActive = "active";
}
else if(ViewBag.Section == "photos")
{
    photoActive = "active";
}
else if(ViewBag.Section == "questions")
{
    questionActive = "active";
}

<div class="row top-buffer">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation" class="@profileActive"><a href="/profile">Profile</a></li>
            <li role="presentation" class="@photoActive"><a href="/photo">Photos</a></li>
            <li role="presentation" class="@questionActive"><a href="/question">Questions</a></li>
            <li role="presentation"><a href="#">Personality Matrix</a></li>
        </ul>
    </div>
</div>
