@model okboba.Web.Models.ProfileHeaderViewModel
@using okboba.Web.Helpers

<!-- Row 1: Match Percent, Name, Message button -->
<div class="row">
    <!--User Details & Percentages -->
    <div class="col-sm-9 col-md-10">
        @Model.Match.MatchPercent% Match, @Model.Match.FriendPercent% Friend, @Model.Match.EnemyPercent% Enemy,
        @Model.Profile.Name,
    </div>

    <!-- Buttons -->
    <div class="col-sm-3 col-md-2">
        <button class="btn btn-primary btn-block">Message User</button>
        <button class="btn btn-default btn-block"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Favorite User</button>
    </div>
</div>

<hr />

<!-- Row 2: Thumbnails - Show the first 4 -->
<div class="profile-header-photo">
    <a href="~/photo/@Model.Profile.Id">@Html.Avatar(Model.Profile.GetFirstPhoto(), Model.Profile.Gender)</a>
</div>

@{ var photos = Model.Profile.GetPhotos(); }
@for (int i = 1; i < photos.Length && i < 4; i++)
{
    <div class="profile-header-photo">
        <a href="~/photo/@Model.Profile.Id">@Html.Avatar(photos[i], Model.Profile.Gender)</a>
    </div>
}

<!-- Row 3: Navigation tab -->
<ul class="nav nav-tabs">
    @Html.NavTab((string)ViewBag.Section, "Profile", "~/profile/" + Model.Profile.Id)
    @Html.NavTab((string)ViewBag.Section, "Photos", "~/photo/" + Model.Profile.Id)
    @Html.NavTab((string)ViewBag.Section, "Questions", "~/question/" + Model.Profile.Id)
    @Html.NavTab((string)ViewBag.Section, "Personality Matrix", "~/matrix/" + Model.Profile.Id)
</ul>
