@model okboba.Web.Models.ListPhotosViewModel
@using okboba.Web.Helpers
@using okboba.Resources

@if (Model.IsMe)
{
    <button type="button" class="btn btn-info" data-toggle="photoupload" data-target="#photoUploadModal">@i18n.Photo_AddPhoto</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#photoArrangeModal">@i18n.Photo_Rearrange</button>
}

<div class="grid clearfix">
    @foreach (var photo in Model.Thumbnails)
    {
        <div class="grid-item">
            @Html.Thumbnail(photo, Model.ProfileId)

            @if (Model.IsMe)
            {
                <div class="photo-edit-overlay">
                    <button class="btn btn-default btn-sm" data-src="@Html.PhotoUrl(photo.Original, Model.ProfileId)" data-photo="@photo.Original" data-toggle="editthumbnail">@i18n.Photo_EditThumbnail</button>
                    <button class="btn btn-default btn-sm" data-photo="@photo" data-toggle="deletephoto">@i18n.Photo_Delete</button>
                </div>
            }            
        </div>
    }
</div>

@if (Model.Thumbnails.Count() == 0)
{
    //Show sad face
    <div class="photo-sadface">
        <img src="~/Content/images/sadface.png" width="300" height="300" alt="Sad Face" />
        <p class="top-buffer-10">User has no photos :(  Send them a message to upload some!</p>
    </div>    
}
