@model okboba.Web.Models.ListPhotosViewModel
@using okboba.Web.Helpers
@using okboba.Resources

@if (Model.IsMe)
{
    <button type="button" class="btn btn-info" data-toggle="photoupload" data-target="#photoUploadModal">@i18n.Photo_AddPhoto</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#photoArrangeModal">@i18n.Photo_Rearrange</button>
}

<div class="grid clearfix">
    @foreach (var photo in Model.Thumbnails)
    {
        <div class="grid-item">
            @Html.Thumbnail(photo, Model.ProfileId)

            @if (Model.IsMe)
            {
                <div class="photo-edit-overlay">
                    <button class="btn btn-default btn-sm" data-src="@Html.PhotoUrl(photo.Original, Model.ProfileId)" data-photo="@photo.Original" data-toggle="editthumbnail">@i18n.Photo_EditThumbnail</button>
                    <button class="btn btn-default btn-sm" data-photo="@photo" data-toggle="deletephoto">@i18n.Photo_Delete</button>
                </div>
            }            
        </div>
    }
</div>
